.subscribir {
    color: $primary-color;
    background-color: $bs-color;
    font-weight: bold;
}

.subscribir:hover {
    color: $hovercolor;
    border-bottom: 5px solid $hovercolor;
    background-color: $bs-color;
}